/* 심플 선택자 */
h1{
  color: #557B83;
}

#logo{
  color:#39AEA9;
}

.logo{
  color: #A2D5AB;
}

h1#logo{
  color: #E5EFC1;
}

#logo.logo{
  color: #612147;
}

.logo.just{
  color: #ECDFCC;
}

/* 자손 선택 : 공백 */
.sel1 p{
  background-color: #FCFAEE;
}

.sel1 > p{
  color: #DA8359;
}

.sel1 section p{
  background-color: #F4F6FF;
}

/* 실무(참고용) */
.sel2.child{
  color: #F3C623;
}

.child-g{
  color:#EB8317;
}

/* 인접 형제 선택기 (+) */
input:checked + label{
  color: #10375C;
}


/* 상태 선택기 (:상태값) */
.btn{
  display: block;
  width: 50px;
  height: 30px;
  background-color: #FADFA1;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover{
  background-color: #C96868;
  color: white;
}

#search{
  width: 500px;
  height: 100px;
  font-size:16px;
  padding: 0 0 0 30px; 
  background-color: white;
  border-color: rgb(175, 175, 175);
  border-width: 3px;
}

#search:focus{
  width: 500px;
  height: 100px;
  font-size:16px;
  color:rgb(196, 196, 196);
  padding: 0 0 0 30px; 
  background-color: rgb(43, 43, 43);
  border-color: rgb(185, 185, 185);
  border-width: 3px;
}

#search:focus::placeholder{
  color:rgb(196, 196, 196);
}

/* 가상 클래스 */
.nav1{
  display: flex;
  list-style: none;
}
.nav1 li:first-child{
  color: #7EACB5;
}
.nav1 li:last-child{
  background-color: #FEFEA4;
}

.nav1 li:last-child span{
  display:none;
}


/*  가상 선택자 ::before, ::after  */
.list2::before{
  content:"ul 앞에 내용";
  color:#257180;
}
.list2::after{
  content:"ul 뒤에 내용";
  color:#F2E5BF;
}

.list2{
  list-style: none;
}

.list2 li::before{
  display: inline-block;
  content:"";
  width:10px;
  height:10px;
  background: #FD8B51;
  margin-right: 10px;
}
.list2 li::after{
  font-family: 'Line Awesome Free';
  font-weight: 900;
  content:"\f12a";
}

.list3{
  list-style: none;
}

.list3 li::before{
  font-family: 'Line Awesome Free';
  font-weight: 900;
  content: "\f105";
}

.list4{
  display: flex;
  list-style: none;
}

.list4 li::after{
  content:"|";
  margin:0 5px;
}

.list4 li:last-child::after{
  display: none;
}

.label::before{
  display: inline-block;
  margin: 0 5px;
  content:"";
  border:solid;
  border-width: 1px;
  border-color: #CB6040;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

input:checked + .label::before{
  display: inline-block;
  margin: 0 5px;
  content:"";
  border:solid;
  border-width: 1px;
  border-color: #CB6040;
  border-radius: 50%;
  background-color: #CB6040;;
  width: 15px;
  height: 15px;
}

/* 속성 선택자 [] */
a[target]{
  background-color: #F4F6FF;
}

a[target="_blank"]{
  color: #F3C623;
}


/* !important */

a{
  color:#E4B1F0 !important;
}