/* flex */
.flex1{
    background-color: #B6FFA1;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex2{
    margin-top: 10px;
    background-color: #FFE700;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.flex3{
    margin-top: 10px;
    background-color: #00FF9C;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex4{
    margin-top: 10px;
    background-color: #E4E0E1;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex5{
    margin-top: 10px;
    background-color: #AB886D;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex6{
    margin-top: 10px;
    background-color: #493628;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex7{
    margin-top: 10px;
    background-color: #E4E0E1;
    width:30%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex{
    width:100px;
    height:100px;
    background-color: #FEFFA7;
    text-align: center;
}   
.flex1-2{
    width:100px;
    height:100px;
    background-color: #D6C0B3;
    text-align: center;
}   
.flexinher1{
    width:100px;
    height: 100px;
    margin:5px;
    order:2;
    flex-grow: 1;
    background-color: #AB886D;
    text-align: center;
}
.flexinher2{
    width:100px;
    height: 100px;
    order:3;
    margin:5px;
    flex-grow: 2;
    background-color: #AB886D;
    text-align: center;
}
.flexinher3{
    width:100px;
    height: 100px;
    order:1;
    margin:5px;
    flex-grow: 6;
    background-color: #AB886D;
    text-align: center;
}
.flexinher4{
    width:100px;
    height: 100px;
    margin:5px;
    background-color: #D6C0B3;
    text-align: center;
}
.flexinher5{
    flex-basis: 200px;
    height: 100px;
    flex-shrink: 0;
    margin:5px;
    background-color: #D6C0B3;
    text-align: center;
}
.flexinher6{
    width:100px;
    height: 50px;
    align-self: center;
    margin:5px;
    background-color: #D6C0B3;
    text-align: center;
}
.flexinher7{
    width:100px;
    height: 50px;
    align-self: flex-end;
    margin:5px;
    background-color: #D6C0B3;
    text-align: center;
}

/* column */
.column1{
    column-count: 3;
    column-gap: 40px;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: #E4E0E1;
}
.column2{
    column-count: 4;
    column-gap: 20px;
    column-rule: 1px solid #E78F81;
}

/* 완벽한 센터링 */
.center1{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #6A9AB0;
}

.center2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    /* margin: -50px 0 0 -50px; */
    transform: translate(-50%, -50%);
    background-color: #E7CCCC;
    
}

/* inline */
.inline{
    display: inline;
    border:1px solid;
}

/* block */
.block{
    border: 1px solid;
    width:10%;
    height: 300px;
    display: block;
}

/* 숨기기 */
.hidden{
    width:10%;
    height: 300px;
    visibility: hidden;
}
.none{
    width:10%;
    height: 300px;
    display: none;
}

/* 너비 */
.width1{
    border: 1px solid;
    width:500px;
}
.width2{
    border: 1px solid;
    max-width: 500px;
}

/* overflow */
.visible{
    width:500px;
    height:100px;
    border:1px solid;
    overflow:visible;
    margin-bottom: 150px;
}
.overflowHidden{
    width:500px;
    height:100px;
    border:1px solid;
    overflow:hidden;
}
.scroll{
    width:500px;
    height:100px;
    border:1px solid;
    overflow:scroll;
}
.etc{
    white-space: nowrap;
    width:500px;
    height:100px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.etc:hover{
    white-space: normal;
    overflow: scroll;
}

/* float */
.float{
    width:100%;
    border: 1px solid;
    overflow: auto;
}
.float img{
    width:20%;
    float: left;
}
.float2{
    width:300px;
    height:100px;
    margin:auto;
    border: 1px solid;
    clear:left;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap:nowrap;
    overflow: auto;
}
.box div{
    float:left;
    width:30%;
    height:100px;
    padding:10px;
    text-align: center;
}
.box1{
    background-color: #FFECC8;
}
.box2{
    background-color: #FFD09B;
}
.box3{
    background-color: #FFB0B0;
}

/* position */
.static{
    position: static;
    border: 1px solid;
}
.relative{
    position: relative;
    margin: 30px;
    border: 1px solid;
}
.fixed{
    position: fixed;
    bottom: 0;
    right:0;
    border: 1px solid;
    background: #0B192C;
    color:white;
}
.abs{
    position: absolute;
    width:200px;
    border: 1px solid;
    right:0;
    background: #1E3E62;
    color:white;
}
.sticky{
    position: sticky;
    border:1px solid;
    top:0;
    background: #FF6500;
}

/* z-index */
.z{
    display: block;
    z-index: -1;
    margin-left:auto;
    margin-right:auto;
}
.zindex1{
    position: absolute;
    z-index: 1;
    width:100%;
    height: 300px;
    border:1px solid;
    background: #000000;
    color: #fff;
}
.zindex2{
    position: absolute;
    z-index: 2;
    margin-top: 50px;
    width:600px;
    height: 100px;
    border:1px solid;
    background: #FFF7D1;
    color: #000;
    right:0;
}
.zindex3{
    position: absolute;
    z-index: 3;
    margin-top: 100px;
    margin-left: 50px;
    width:90%;
    height: 300px;
    border:1px solid;
    background: #FFECC8;
    color: #000;
}

